.sn-Note {
  display: block;
  border-bottom: 1px dashed #555;
  padding: 8px;

  @media (min-width: 600px) {
    display: flex;
    margin-right: 24px;
  }

  &-wrapper {
    @media (min-width: 600px) {
      padding-right: 24px;
      flex: 0 1 80%;
    }
  }

  &-buttons {
    flex: 1 0 20%;
  }

  &-meta {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
  }
}
