.sn-Main {
  background-color: #fff;
  max-width: 900px;
  width: calc(100% - 48px);
  margin: auto;
  padding: 24px;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  border-radius: 4px;
  box-sizing: border-box;
}
