$button-color: #59f;
$danger-button-color: #c66;
$cancel-button-color: #fb6;

.sn-Button {
  display: inline-block;
  padding: 8px 16px;
  background-color: $button-color;
  color: #fff;
  border: 0;
  border-radius: 2px;
  transition: all 0.25s;
  text-decoration: none;
  min-width: 60px;
  text-align: center;
  margin-bottom: 8px;

  &:hover {
    background-color: darken($button-color, 8%);
  }

  &--danger {
    background-color: $danger-button-color;

    &:hover {
      background-color: darken($danger-button-color, 8%);
    }
  }

  &--cancel {
    background-color: $cancel-button-color;

    &:hover {
      background-color: darken($cancel-button-color, 8%);
    }
  }
}
